# Default ignored files
/shelf/
/.idea
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#Ignore .log files
*.log
*.iml
/target